.twitter-block {
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.twitter-title {
  font-family: 'e-Ukraine-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 28px;
}

.black-line {
  height: 1px;
  width: 100%;
  background: #000;
  opacity: 0.5;
  margin-bottom: 32px;
  margin-top: 4px;
}

.twitter-parent {
  color: white;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;

  font-family: "e-Ukraine", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.twitter-timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tweet-element {
  width: 300px;
}

@media (max-width: 901px) {
  .twitter-parent {
    display: none;
  }
}


