.home-block {
  display: flex;
  height: calc(100vh - 70.55px);
}

.home-left {
  padding-top: 1.45rem;
  padding-left: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-blue {
  font-family: "e-Ukraine", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #2185e4;
}

h1 {
  font-family: "e-Ukraine-logo";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  color: #000000;
}

.home-description {
  font-family: "e-Ukraine-Light";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  max-width: 580px;
}

.home-text {
  padding-top: 14px;
  font-family: "e-Ukraine-Light";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.home-text-blue {
  color: #2185e4;
}

.home-left .btn-donate {
  width: 91px;
  min-width: 95px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "e-Ukraine", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  background-color: #2185e4;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
}

.home-right {
  width: 50%;
  z-index: -1;
}

@media (max-width: 900px) {
    .home-block {
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }
    .home-right {
        height: 70%;
        width: 100%;
    }
    .home-left {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .home-right {
        height: 65%;
    }
}

@media (max-width: 710px) {
    .home-right {
        height: 50%;
    }
}