.logo {
  display: inline;
  position: static;
  width: 94px;
  min-width: 95px;
  height: 24px;
  left: 0;
  top: 0;

  font-family: "e-Ukraine", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  background: linear-gradient(180deg, #52a5fc 22.77%, #f7ce00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 4px;
}
.header {
  background: #000000;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-block {
  padding: 0.96rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.navbar p {
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.btn-donate {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "e-Ukraine", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  background-color: #2185e4;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 901px) {
  .navbar p {
    display: none;
  }
}