@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-Ukraine-Regular.otf");
}

@font-face {
  font-family: "e-Ukraine-Light";
  src: url("../fonts/e-Ukraine-Light.otf");
}
@font-face {
  font-family: "e-Ukraine-logo";
  src: url("../fonts/e-UkraineHead-Medium.otf");
}
