.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    height: 48px;
}

.footer-block .logo {
    margin-left: 20px;
}

.social {
    display: flex;
    margin-right: 20px;
}

.inst-icon {
    padding-right: 20px;
}