.work-block {
  background-color: #000;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}

.work-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  max-width: 690px;
}

.work-description {
  font-family: "e-Ukraine", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 40px;
}

.work-right {
  width: 50%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 901px) {
    .work-block {
        display: none;
    }
}